:root {
	--background-main: #4d546a;
	--background-secondary: #424651;
	--decorative-main: #82ff9e;
	--decorative-secondary: #a9fbc3;
	--hover: #5aa9e6;
}
.App {
	background-color: var(--background-main);
}

.App .Header {
	background-color: var(--background-secondary);
}
.App a {
	text-decoration: none;
	color: var(--decorative-main);
}

.App a:hover {
	color: var(--hover);
}

.App .active {
	color: var(--hover) !important;
}
.App img {
	width: 6rem;
	border-radius: 75px;
}
