$background-main: #4d546a;
$background-secondary: #424651;
$decorative-main: #82ff9e;
$decorative-secondary: #a9fbc3;
$hover: #5aa9e6;

html {
	background-color: $background-main;
	color: white;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
}
